h1 {
  display: inline-block;
  padding: 0px 20px;
  font-family: Menlo, "Courier-New";
  color: #dee;
}

.red {
  background-color: #FF8000;
}

.blue {
  background-color: #00BBFF;
}

.green {
  background-color: #80FF00;
}

div:not(#div-wrapper) {
  height: 60px;
  width: 60px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}
